<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Word: </label>
    <input id="n" name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>